---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Image from "astro/components/Image.astro";
import portrait from "../assets/canon-beach-crop.webp";
import { Content } from '../content/about.md'
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<body>
		<Header />
		<main>
			<div class="image-container">
				<Image width={200} height={200} src={portrait} alt="" />
			</div>
			<Content/>
		</main>
		<Footer />
	</body>
</html>

<style>
	.image-container {
		width: 200px;
		height: 200px;
		border-radius: 50%;
		border: 3px solid white;
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.image-container img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
</style>
